<% include head %>
<nav class="header">
  <h1 class="logo"><a href="#"></a></h1>
    <ul class="main-nav">
      <form action="#">
        <p>
          <input type="checkbox" id="cafeBoxWeb" onclick="showCafe()" />
          <label for="cafeBoxWeb">Café</label>
        </p>
        <p>
          <input type="checkbox" id="cultuurBoxWeb" onclick="showCultuur()" />
          <label for="cultuurBoxWeb">Cultuur</label>
        </p>
        <p>
          <input type="checkbox" id="veloBoxWeb" onclick="showVelo()" />
          <label for="veloBoxWeb">Velo</label>
        </p>
      </form>
    </ul>
</nav>
<nav role='navigation'>
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">

        <img class="logoinmenu" src="/img/logo.svg" />
      <form action="#">
        <p>
          <input type="checkbox" id="cafeBoxMobile" onclick="showCafe()" />
          <label for="cafeBoxMobile">Café</label>
        </p>
        <p>
          <input type="checkbox" id="cultuurBoxMobile" onclick="showCultuur()" />
          <label for="cultuurBoxMobile">Cultuur</label>
        </p>
        <p>
          <input type="checkbox" id="veloBoxMobile" onclick="showVelo()" />
          <label for="veloBoxMobile">Velo</label>
        </p>
      </form>

    </ul>
  </div>
</nav>
<div id="map">
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
crossorigin=""></script>
<script>
  /*mapboxgl.accessToken = 'pk.eyJ1Ijoiam9obmxhYiIsImEiOiJjanAybGp2azkwN3NpM3dyd3I2Mmk4eWJnIn0.bQcaek4v71MrN4t7fHYBIg';
    var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/dark-v9', //hosted style id
  });*/

  var mapPin = L.Icon.extend({
  options: {
      iconSize:     [50, 50],
      iconAnchor:   [25, 50],
      popupAnchor:  [0, -56]
    }
  });

  var pinBlue = new mapPin({iconUrl: '/img/PinBlue.png'}),
  pinYellow = new mapPin({iconUrl: '/img/PinYellow.png'}),
  pinRed = new mapPin({iconUrl: '/img/PinRed.png'}),
  pinGreen = new mapPin({iconUrl: '/img/PinVelo.svg'});

  var map = L.map('map').fitWorld();
  var cafés = new L.LayerGroup();
  var cultuur = new L.LayerGroup();
  var velo = new L.LayerGroup();

    <% var fuiflengte = fuifruimte.features.length; %>
    <% for(var i = 0; i < fuiflengte; i++) { %>
    L.marker([<%-fuifruimte.features[i].geometry.y %>, <%-fuifruimte.features[i].geometry.x %>], {icon: pinRed})
        .bindPopup("<%-fuifruimte.features[i].attributes.ROEPNAAM_ZZ_OBJECT %>").addTo(cafés)
    <% } %>

    <% var cultuurlengte = cultuurruimte.features.length; %>
    <% for(var i = 0; i < cultuurlengte; i++) { %>
    L.marker([<%-cultuurruimte.features[i].geometry.y %>, <%-cultuurruimte.features[i].geometry.x %>], {icon: pinYellow})
        .bindPopup("<%-cultuurruimte.features[i].attributes.naam %>").addTo(cultuur)
    <% } %>

    <% var velolengte = veloruimte.features.length; %>
    <% for(var i = 0; i < veloruimte.features.length; i++) { %>
    L.marker([<%-veloruimte.features[i].geometry.y %>, <%-veloruimte.features[i].geometry.x %>], {icon: pinGreen})
        .bindPopup("Er zijn <%-veloruimte.features[i].attributes.Aantal_plaatsen %> plaatsen beschikbaar").addTo(velo)
    <% } %>

    function showCafe(){
      var checkboxWeb = document.getElementById("cafeBoxWeb").checked
      var checkboxMobile = document.getElementById("cafeBoxMobile").checked
      if (checkboxWeb) {
        map.addLayer(cafés);
      }else if (checkboxMobile) {
        map.addLayer(cafés);
      }else {
        map.removeLayer(cafés);
      }
    }

    function showCultuur(){
      var checkboxWeb = document.getElementById("cultuurBoxWeb").checked
      var checkboxMobile = document.getElementById("cultuurBoxMobile").checked
      if (checkboxWeb) {
        map.addLayer(cultuur);
      }else if (checkboxMobile) {
        map.addLayer(cultuur);
      }else {
        map.removeLayer(cultuur);
      }
    }

    function showVelo(){
      var checkboxWeb = document.getElementById("veloBoxWeb").checked
      var checkboxMobile = document.getElementById("veloBoxMobile").checked
      if (checkboxWeb) {
        map.addLayer(velo);
      }else if (checkboxMobile) {
        map.addLayer(velo);
      }else {
        map.removeLayer(velo);
      }
    }

</script>
<script src="js/map.js"></script>
<% include footer %>
